.navbar {
  width: 100%;
  background: #020617;
  border-bottom: 1px solid #1e293b;
}

.navbar-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0.75rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 1.1rem;
  color: white;
}

.navbar-left{
  display: flex;
  gap: 1.25rem;
}

.navbar a {
  color: #cbd5f5;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: white;
}
